pipeline/DataQualityChecker_Table.json
{
	"name": "DataQualityChecker_Table",
	"properties": {
		"activities": [
			{
				"name": "ListTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[DQTableExpressions]",
						"storedProcedureParameters": {
							"DQRId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.Id",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ObjectsList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForAllDQTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListTables').output.Value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineRunId": {
				"type": "string",
				"defaultValue": "-1"
			},
			"Id": {
				"type": "string",
				"defaultValue": "-1"
			},
			"RuleName": {
				"type": "string",
				"defaultValue": "-1"
			}
		},
		"annotations": []
	}
}