pipeline/PL_CANDELAKPI_INCREMENTAL.json
{
	"name": "PL_CANDELAKPI_INCREMENTAL",
	"properties": {
		"description": "Combination of Oracle and Salesforce data load",
		"activities": [
			{
				"name": "Oracle_Full_Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DATALOADTIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_FULL_ORACLE_AZSQLDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"LoadType": "Full"
					}
				}
			},
			{
				"name": "Oracle_Incremental_Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DATALOADTIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_INCREMENTAL_ORACLE_AZSQLDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"LoadType": "Incremental"
					}
				}
			},
			{
				"name": "Salesforce_Full_Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DATALOADTIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SALESFORCE_AZSQLDB_FULL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"LoadType": "Full"
					}
				}
			},
			{
				"name": "Salesforce_Incremental_Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DATALOADTIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_INCREMENTAL_SALESFORCE_AZSSQLDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"LoadType": "Incremental"
					}
				}
			},
			{
				"name": "SalesForce_DataModel",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Salesforce_Incremental_Load",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Salesforce_Full_Load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SALESFORCE_INCREMENTAL_LOAD_DATAMODEL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DATALOADPROCESSTIME": {
							"value": "@variables('DATALOADPROCESSTIME')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Oracle_DataModel",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Oracle_Incremental_Load",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Oracle_Full_Load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_ORACLE_INCREMENTAL_LOAD_DATAMODEL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"DATALOADPROCESSTIME": {
							"value": "@variables('DATALOADPROCESSTIME')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ProcessAAS",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "SalesForce_DataModel",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Oracle_DataModel",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "@concat('PROCESSAAS?modelname=','CANDELAKPI&ProcessName=',pipeline().Pipeline,'&RunId=',pipeline().RunId)",
						"type": "Expression"
					},
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "ProcessAAS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log31",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ProcessAAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[BI].[SP_M_Logger]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorInfo": {
							"value": null,
							"type": "String"
						},
						"LOGSPATH": {
							"value": null,
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsCopiedToDest": {
							"value": null,
							"type": "Int64"
						},
						"RecordsInSource": {
							"value": null,
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SkippedRecordsToMove": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "INFO",
							"type": "String"
						},
						"Summary": {
							"value": "Processing AAS Model is completed successfully",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "EmailNotification",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "ProcessAAS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "@concat('SendEmail?RunId=',pipeline().RunId,'&ProcessName=',pipeline().Pipeline)",
						"type": "Expression"
					},
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "EmailService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DATALOADTIME",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DATALOADPROCESSTIME",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UPDATEDAASPROCESSTIME",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ProcessAAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('UPDATE BI.MM_PROCESSTIMETRACKER SET AASPROCESSREFRESHTIME= ''',variables('DATALOADPROCESSTIME'),''' where ID =1     SELECT 1')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DQTarget",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DQVALIDATION",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ProcessAAS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DataQualityChecker_Rule",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"DATALOADPROCESSTIME": {
				"type": "String",
				"defaultValue": "NULL"
			}
		},
		"annotations": []
	}
}