pipeline/PL_INCREMENTAL_ORACLE_AZSQLDB.json
{
	"name": "PL_INCREMENTAL_ORACLE_AZSQLDB",
	"properties": {
		"description": "For Saleforce schema",
		"activities": [
			{
				"name": "Log1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[BI].[SP_M_Logger]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorInfo": {
							"value": null,
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline ",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsCopiedToDest": {
							"value": null,
							"type": "Int64"
						},
						"RecordsInSource": {
							"value": null,
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SkippedRecordsToMove": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "INFO",
							"type": "String"
						},
						"Summary": {
							"value": "Process is Started",
							"type": "String"
						},
						"LOGSPATH": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FetchTables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "declare @Today datetime=getutcdate()\nselect INC.IncKeyName,INC.IncValue,SourceSchemaName,SourceObjectName,ObjectType,'['+TargetSchemaName+'].['+TargetObjectName+']' as TargetObjectName, ADLSPreProcessedPath, ADLSProcessedPath, BlobLogsPath,convert(varchar,@Today,112)+'/'+replace(convert(varchar, @Today, 8),':','') as Today,CHECKSUMCOLUMNS \n,case when INC.INCVALUE is null then '' else 'Where '+  INC.INCKEYNAME+' >= '''+ cast(INC.INCVALUE as NVARCHAR(50)) + ''' AND ' + INC.INCKEYNAME + ' < ''' + cast(@Today as NVARCHAR(50)) + '''' END AS WhereCondition \n,@Today AS TimeNow,INC.OBJECTSLISTID,OL.ContainerName\nFrom bi.MM_ObjectsList  OL\nLeft join bi.MM_INCREMENTALKEYS INC on INC.objectslistid=OL.ID and INC.type='INS' and INC.ISACTIVE=1\nwhere OL.SourceServer='Oracle' and OL.IsActive = 1 and OL.LOADTYPE='INCREMENTAL'"
					},
					"dataset": {
						"referenceName": "ObjectsList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Log2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FetchTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[BI].[SP_M_Logger]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorInfo": {
							"value": null,
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline ",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsCopiedToDest": {
							"value": null,
							"type": "Int64"
						},
						"RecordsInSource": {
							"value": null,
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SkippedRecordsToMove": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "INFO",
							"type": "String"
						},
						"Summary": {
							"value": "Tables to Process are listed",
							"type": "String"
						},
						"LOGSPATH": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log3",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FetchTables",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[BI].[SP_M_Logger]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorInfo": {
							"value": {
								"value": "@substring(activity('FetchTables').Error.Message,0,if(greater(length(activity('FetchTables').Error.Message),1990),1990,sub(length(activity('FetchTables').Error.Message),2)))",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline ",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsCopiedToDest": {
							"value": null,
							"type": "Int64"
						},
						"RecordsInSource": {
							"value": null,
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SkippedRecordsToMove": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "ERROR",
							"type": "String"
						},
						"Summary": {
							"value": "Listing Tables To Process is Failed",
							"type": "String"
						},
						"LOGSPATH": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEveryActiveObject",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Log2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FetchTables').Output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SalesforceToBlob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT ',item().CHECKSUMCOLUMNS,' FROM ',item().SourceObjectName,' ',item().WhereCondition)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"redirectIncompatibleRowSettings": {
									"linkedServiceName": {
										"referenceName": "logstore",
										"type": "LinkedServiceReference"
									},
									"path": {
										"value": "@concat('candelabiadf','/',item().ContainerName,'/',pipeline().parameters.LoadType,'/',item().BlobLogsPath,item().SourceObjectName,'/',item().Today,'/',pipeline().parameters.RunId)",
										"type": "Expression"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DatControlMaster_Source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLSStage",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Log4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SalesforceToBlob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": {
											"value": "@activity('SalesforceToBlob').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": {
											"value": "@activity('SalesforceToBlob').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": {
											"value": "@activity('SalesforceToBlob').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": {
											"value": "@activity('SalesforceToBlob').output.rowsSkipped",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "INFO",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Copied Data To Blob Storage For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log5",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SalesforceToBlob",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": {
											"value": "@substring(activity('SalesforceToBlob').Error.Message,0,if(greater(length(activity('SalesforceToBlob').Error.Message),1990),1990,sub(length(activity('SalesforceToBlob').Error.Message),2)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "ERROR",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Copying Data To Blob Storage is Failed For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ADLSToSQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Log4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"redirectIncompatibleRowSettings": {
									"linkedServiceName": {
										"referenceName": "logstore",
										"type": "LinkedServiceReference"
									},
									"path": {
										"value": "@concat('candelabiadf','/',item().ContainerName,'/',pipeline().parameters.LoadType,'/',item().BlobLogsPath,item().SourceObjectName,'/',item().Today,'/',pipeline().parameters.RunId)",
										"type": "Expression"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLSStage",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TARGET_SQL",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Log6",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ADLSToSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": {
											"value": "@activity('ADLSToSQL').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": {
											"value": "@activity('ADLSToSQL').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": {
											"value": "@activity('ADLSToSQL').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": {
											"value": "@activity('ADLSToSQL').output.rowsSkipped",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "INFO",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Copied Data From Blob Storage To SQL For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": {
											"value": "@if(equals(activity('ADLSToSQL').output.rowsCopied,0),'NA',activity('ADLSToSQL').output.redirectRowPath)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log7",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ADLSToSQL",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": {
											"value": "@substring(activity('ADLSToSQL').Error.Message,0,if(greater(length(activity('ADLSToSQL').Error.Message),1990),1990,sub(length(activity('ADLSToSQL').Error.Message),2)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "ERROR",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Copying Data From Blob Storage To SQL is Failed For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "MoveFileToProcessedFolder",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Log13",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"redirectIncompatibleRowSettings": {
									"linkedServiceName": {
										"referenceName": "logstore",
										"type": "LinkedServiceReference"
									},
									"path": {
										"value": "@concat('candelabiadf','/',item().ContainerName,'/',pipeline().parameters.LoadType,'/',item().BlobLogsPath,item().SourceObjectName,'/',item().Today,'/',pipeline().parameters.RunId)",
										"type": "Expression"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLSStage",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLSPROCESSED",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Log9",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "MoveFileToProcessedFolder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": {
											"value": "@activity('MoveFileToProcessedFolder').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": {
											"value": "@activity('MoveFileToProcessedFolder').output.filesWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": {
											"value": "@activity('MoveFileToProcessedFolder').output.filesRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": {
											"value": "@activity('MoveFileToProcessedFolder').output.rowsSkipped",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "INFO",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Copied File From PreProcessed Folder to Processed Folder For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log10",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "MoveFileToProcessedFolder",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": {
											"value": "@substring(activity('MoveFileToProcessedFolder').Error.Message,0,if(greater(length(activity('MoveFileToProcessedFolder').Error.Message),1990),1990,sub(length(activity('MoveFileToProcessedFolder').Error.Message),2)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "ERROR",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Copying File From PreProcessed To Processed Folder is Failed For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "DeleteFileFromPreProcessedPath",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Log9",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ADLSSTAGE_REM",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"recursive": true
							}
						},
						{
							"name": "Log11",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeleteFileFromPreProcessedPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "INFO",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('File is deleted from PreProcessed Folder For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log12",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeleteFileFromPreProcessedPath",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": {
											"value": "@substring(activity('DeleteFileFromPreProcessedPath').Error.Message,0,if(greater(length(activity('DeleteFileFromPreProcessedPath').Error.Message),1990),1990,sub(length(activity('DeleteFileFromPreProcessedPath').Error.Message),2)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "ERROR",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Deleting file from PreProcessed Folder is Failed For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log13",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "UpdateIncrementalKey",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "INFO",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Updated Incremental Key Value For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log14",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "UpdateIncrementalKey",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": {
											"value": "@substring(activity('UpdateIncrementalKey').Error.Message,0,if(greater(length(activity('UpdateIncrementalKey').Error.Message),1990),1990,sub(length(activity('UpdateIncrementalKey').Error.Message),2)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline ",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "ERROR",
										"type": "String"
									},
									"Summary": {
										"value": {
											"value": "@concat('Updating Incremental Key Value is Failed For Table : ',item().SourceObjectName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "UpdateIncrementalKey",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Log6",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_UPDATE_INC_KEY]",
								"storedProcedureParameters": {
									"OBJECTSLISTID": {
										"value": {
											"value": "@item().OBJECTSLISTID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"VALUE": {
										"value": {
											"value": "@item().TimeNow",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "string",
				"defaultValue": "-1"
			},
			"LoadType": {
				"type": "string",
				"defaultValue": "Incremental"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}