pipeline/PL_ORACLE_LOAD_DATAMODEL.json
{
	"name": "PL_ORACLE_LOAD_DATAMODEL",
	"properties": {
		"activities": [
			{
				"name": "GetErrorCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select count(1) as ErrorCount from BI.LG_PROCESSLOGS where RunId=','''',string(pipeline().parameters.RunId),'''', ' and Status=','''',string('Error'),'''')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "CheckErrors",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Log1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetErrorCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[BI].[SP_M_Logger]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorInfo": {
							"value": null,
							"type": "String"
						},
						"LOGSPATH": {
							"value": null,
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsCopiedToDest": {
							"value": null,
							"type": "Int64"
						},
						"RecordsInSource": {
							"value": null,
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SkippedRecordsToMove": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "INFO",
							"type": "String"
						},
						"Summary": {
							"value": "ErrorCount For the Data Load is fetched",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetErrorCount",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[BI].[SP_M_Logger]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorInfo": {
							"value": {
								"value": "@substring(activity('GetErrorCount').Error.Message,0,if(greater(length(activity('GetErrorCount').Error.Message),1990),1990,sub(length(activity('GetErrorCount').Error.Message),2)))",
								"type": "Expression"
							},
							"type": "String"
						},
						"LOGSPATH": {
							"value": null,
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsCopiedToDest": {
							"value": null,
							"type": "Int64"
						},
						"RecordsInSource": {
							"value": null,
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SkippedRecordsToMove": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "ERROR",
							"type": "String"
						},
						"Summary": {
							"value": "Failed to Fetch the number of errors in data load",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CheckForErrors",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Log1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetErrorCount').output.firstRow.ErrorCount,0)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "string",
				"defaultValue": "-1"
			}
		},
		"annotations": []
	}
}