pipeline/PL_SALESFORCE_INCREMENTAL_LOAD_DATAMODEL.json
{
	"name": "PL_SALESFORCE_INCREMENTAL_LOAD_DATAMODEL",
	"properties": {
		"activities": [
			{
				"name": "GetErrorCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select count(1) as ErrorCount from BI.LG_PROCESSLOGS where RunId=','''',string(pipeline().parameters.RunId),'''', ' and Status=','''',string('Error'),'''')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "CheckErrors",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Log1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetErrorCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[BI].[SP_M_Logger]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorInfo": {
							"value": null,
							"type": "String"
						},
						"LOGSPATH": {
							"value": null,
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsCopiedToDest": {
							"value": null,
							"type": "Int64"
						},
						"RecordsInSource": {
							"value": null,
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SkippedRecordsToMove": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "INFO",
							"type": "String"
						},
						"Summary": {
							"value": "ErrorCount For the Data Load is fetched",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetErrorCount",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[BI].[SP_M_Logger]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorInfo": {
							"value": {
								"value": "@substring(activity('GetErrorCount').Error.Message,0,if(greater(length(activity('GetErrorCount').Error.Message),1990),1990,sub(length(activity('GetErrorCount').Error.Message),2)))",
								"type": "Expression"
							},
							"type": "String"
						},
						"LOGSPATH": {
							"value": null,
							"type": "String"
						},
						"ProcessName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RecordsCopiedToDest": {
							"value": null,
							"type": "Int64"
						},
						"RecordsInSource": {
							"value": null,
							"type": "Int64"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().parameters.RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"SkippedRecordsToMove": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "ERROR",
							"type": "String"
						},
						"Summary": {
							"value": "Failed to Fetch the number of errors in data load",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CheckForErrors",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Log1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetErrorCount').output.firstRow.ErrorCount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load_Dimensions",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[salesforce].[SP_M_INCREMENTAL_LOAD_DIMENSIONS]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Incremental_Load_Dimension_Success_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_Dimensions",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": null,
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "INFO",
										"type": "String"
									},
									"Summary": {
										"value": "Loading Dimensions is completed successfully",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Incremental_Load_Dimension_Failure_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_Dimensions",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": {
											"value": "@substring(activity('Load_Dimensions').Error.Message,0,if(greater(length(activity('Load_Dimensions').Error.Message),1990),1990,sub(length(activity('Load_Dimensions').Error.Message),2)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "ERROR",
										"type": "String"
									},
									"Summary": {
										"value": "Failed to Load Dimensions ",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Load_Fact_Engagement",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Incremental_Load_Dimension_Success_Log",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[salesforce].[SP_M_INCREMENTAL_LOAD_FACT_ENGAGEMENT]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fact_Engagement_Success_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_Fact_Engagement",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": null,
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "INFO",
										"type": "String"
									},
									"Summary": {
										"value": "Loading Fact tables are completed successfully",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fact_Engagement_Failure_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_Fact_Engagement",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": {
											"value": "@substring(activity('Load_Fact_Engagement').Error.Message,0,if(greater(length(activity('Load_Fact_Engagement').Error.Message),1990),1990,sub(length(activity('Load_Fact_Engagement').Error.Message),2)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "ERROR",
										"type": "String"
									},
									"Summary": {
										"value": "Failed to Load Fact Tables",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "UPDATEDATALOADTIME",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Fact_Engagement_Success_Log",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('UPDATE BI.MM_PROCESSTIMETRACKER SET DATALOADREFRESHTIME= ''',pipeline().parameters.DATALOADPROCESSTIME,''' where ID =1     SELECT 1')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "DQTarget",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Load_Facts_Bizible_Attribution",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Incremental_Load_Dimension_Success_Log",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[salesforce].[SP_M_FULL_LOAD_Fact_Bizible_Attribution]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Bizible_attribution_Success_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_Facts_Bizible_Attribution",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": null,
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "INFO",
										"type": "String"
									},
									"Summary": {
										"value": "Loading Bizible_Attribution_Fact tables are completed successfully",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Bizible_Attribution_Failure_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_Facts_Bizible_Attribution",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[BI].[SP_M_Logger]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": null,
										"type": "Int64"
									},
									"ErrorInfo": {
										"value": {
											"value": "@substring(activity('Load_Facts_Bizible_Attribution').Error.Message,0,if(greater(length(activity('Load_Facts_Bizible_Attribution').Error.Message),1990),1990,sub(length(activity('Load_Facts_Bizible_Attribution').Error.Message),2)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"LOGSPATH": {
										"value": null,
										"type": "String"
									},
									"ProcessName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RecordsCopiedToDest": {
										"value": null,
										"type": "Int64"
									},
									"RecordsInSource": {
										"value": null,
										"type": "Int64"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().parameters.RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SkippedRecordsToMove": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "ERROR",
										"type": "String"
									},
									"Summary": {
										"value": "Failed to Load Fact Tables",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"RunId": {
				"type": "string",
				"defaultValue": "-1"
			},
			"DATALOADPROCESSTIME": {
				"type": "string",
				"defaultValue": "NULL"
			}
		},
		"folder": {
			"name": "SalesForce"
		},
		"annotations": []
	}
}