pipeline/SalesforceQueryTest.json
{
	"name": "SalesforceQueryTest",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "Select count() From CONTACT Where LastModifiedDate <= 2019-11-14T09:00:35Z",
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "Salesforce_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "value",
					"value": {
						"value": "@substring(string(activity('Lookup1').output.firstRow),indexof(string(activity('Lookup1').output.firstRow),':'),sub(sub(length(string(activity('Lookup1').output.firstRow)),indexof(string(activity('Lookup1').output.firstRow),':')),-2))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"value": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}