CANDELABIADF/PartialArmTemplates/ArmTemplate_9_20_2019_15_33_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "CANDELABIADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_INCREMENTAL_ORACLE_AZSQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "For Saleforce schema",
				"activities": [
					{
						"name": "Log1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[BI].[SP_M_Logger]",
							"storedProcedureParameters": {
								"CopyDuration": {
									"value": null,
									"type": "Int64"
								},
								"ErrorInfo": {
									"value": null,
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline ",
										"type": "Expression"
									},
									"type": "String"
								},
								"RecordsCopiedToDest": {
									"value": null,
									"type": "Int64"
								},
								"RecordsInSource": {
									"value": null,
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().parameters.RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SkippedRecordsToMove": {
									"value": null,
									"type": "Int64"
								},
								"Status": {
									"value": "INFO",
									"type": "String"
								},
								"Summary": {
									"value": "Process is Started",
									"type": "String"
								},
								"LOGSPATH": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FetchTables",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Log1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "declare @Today datetime=getutcdate()\nselect INC.IncKeyName,INC.IncValue,SourceSchemaName,SourceObjectName,ObjectType,'['+TargetSchemaName+'_STAGE].['+TargetObjectName+']' as TargetObjectName, ADLSPreProcessedPath, ADLSProcessedPath, BlobLogsPath,convert(varchar,@Today,112)+'/'+replace(convert(varchar, @Today, 8),':','') as Today,CHECKSUMCOLUMNS \n,case when INC.INCVALUE is null then '' else 'Where '+  INC.INCKEYNAME+' >= '''+ cast(INC.INCVALUE as NVARCHAR(50)) + ''' AND ' + INC.INCKEYNAME + ' < ''' + cast(@Today as NVARCHAR(50)) + '''' END AS WhereCondition \n,@Today AS TimeNow,INC.OBJECTSLISTID,OL.ContainerName\nFrom bi.MM_ObjectsList  OL\nINNER join bi.MM_INCREMENTALKEYS INC on INC.objectslistid=OL.ID and INC.type='UPD' and INC.ISACTIVE=1\nwhere OL.SourceServer='Oracle' and OL.IsActive = 1 and OL.LOADTYPE='INCREMENTAL'"
							},
							"dataset": {
								"referenceName": "ObjectsList",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Log2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FetchTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[BI].[SP_M_Logger]",
							"storedProcedureParameters": {
								"CopyDuration": {
									"value": null,
									"type": "Int64"
								},
								"ErrorInfo": {
									"value": null,
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline ",
										"type": "Expression"
									},
									"type": "String"
								},
								"RecordsCopiedToDest": {
									"value": null,
									"type": "Int64"
								},
								"RecordsInSource": {
									"value": null,
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().parameters.RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SkippedRecordsToMove": {
									"value": null,
									"type": "Int64"
								},
								"Status": {
									"value": "INFO",
									"type": "String"
								},
								"Summary": {
									"value": "Tables to Process are listed",
									"type": "String"
								},
								"LOGSPATH": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FetchTables",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[BI].[SP_M_Logger]",
							"storedProcedureParameters": {
								"CopyDuration": {
									"value": null,
									"type": "Int64"
								},
								"ErrorInfo": {
									"value": {
										"value": "@substring(activity('FetchTables').Error.Message,0,if(greater(length(activity('FetchTables').Error.Message),1990),1990,sub(length(activity('FetchTables').Error.Message),2)))",
										"type": "Expression"
									},
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline ",
										"type": "Expression"
									},
									"type": "String"
								},
								"RecordsCopiedToDest": {
									"value": null,
									"type": "Int64"
								},
								"RecordsInSource": {
									"value": null,
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().parameters.RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SkippedRecordsToMove": {
									"value": null,
									"type": "Int64"
								},
								"Status": {
									"value": "ERROR",
									"type": "String"
								},
								"Summary": {
									"value": "Listing Tables To Process is Failed",
									"type": "String"
								},
								"LOGSPATH": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEveryActiveObject",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Log2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FetchTables').Output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "OracleToBlob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT ',item().CHECKSUMCOLUMNS,' FROM ',item().SourceObjectName,' ',item().WhereCondition)",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"redirectIncompatibleRowSettings": {
											"linkedServiceName": {
												"referenceName": "logstore",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@concat('candelabiadf','/',item().ContainerName,'/',pipeline().parameters.LoadType,'/',item().BlobLogsPath,item().SourceObjectName,'/',item().Today,'/',pipeline().parameters.RunId)",
												"type": "Expression"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DatControlMaster_Source",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ADLSStage",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Log4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "OracleToBlob",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": {
													"value": "@activity('OracleToBlob').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": {
													"value": "@activity('OracleToBlob').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": {
													"value": "@activity('OracleToBlob').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": {
													"value": "@activity('OracleToBlob').output.rowsSkipped",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Copied Data To Blob Storage For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log5",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "OracleToBlob",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('OracleToBlob').Error.Message,0,if(greater(length(activity('OracleToBlob').Error.Message),1990),1990,sub(length(activity('OracleToBlob').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Copying Data To Blob Storage is Failed For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ADLSToSQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Log4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 10000,
											"preCopyScript": {
												"value": "@{concat('Truncate Table ',item().TargetObjectName)}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"redirectIncompatibleRowSettings": {
											"linkedServiceName": {
												"referenceName": "logstore",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@concat('candelabiadf','/',item().ContainerName,'/',pipeline().parameters.LoadType,'/',item().BlobLogsPath,item().SourceObjectName,'/',item().Today,'/',pipeline().parameters.RunId)",
												"type": "Expression"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ADLSStage",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "TARGET_SQL",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Log6",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ADLSToSQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": {
													"value": "@activity('ADLSToSQL').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": {
													"value": "@activity('ADLSToSQL').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": {
													"value": "@activity('ADLSToSQL').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": {
													"value": "@activity('ADLSToSQL').output.rowsSkipped",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Copied Data From Blob Storage To SQL For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": {
													"value": "@if(equals(activity('ADLSToSQL').output.rowsCopied,0),'NA',activity('ADLSToSQL').output.redirectRowPath)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log7",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ADLSToSQL",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('ADLSToSQL').Error.Message,0,if(greater(length(activity('ADLSToSQL').Error.Message),1990),1990,sub(length(activity('ADLSToSQL').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Copying Data From Blob Storage To SQL is Failed For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "MoveFileToProcessedFolder",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Log13",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"redirectIncompatibleRowSettings": {
											"linkedServiceName": {
												"referenceName": "logstore",
												"type": "LinkedServiceReference"
											},
											"path": {
												"value": "@concat('candelabiadf','/',item().ContainerName,'/',pipeline().parameters.LoadType,'/',item().BlobLogsPath,item().SourceObjectName,'/',item().Today,'/',pipeline().parameters.RunId)",
												"type": "Expression"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ADLSStage",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ADLSPROCESSED",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Log9",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "MoveFileToProcessedFolder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": {
													"value": "@activity('MoveFileToProcessedFolder').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": {
													"value": "@activity('MoveFileToProcessedFolder').output.filesWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": {
													"value": "@activity('MoveFileToProcessedFolder').output.filesRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": {
													"value": "@activity('MoveFileToProcessedFolder').output.rowsSkipped",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Copied File From PreProcessed Folder to Processed Folder For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log10",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "MoveFileToProcessedFolder",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('MoveFileToProcessedFolder').Error.Message,0,if(greater(length(activity('MoveFileToProcessedFolder').Error.Message),1990),1990,sub(length(activity('MoveFileToProcessedFolder').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Copying File From PreProcessed To Processed Folder is Failed For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "DeleteFileFromPreProcessedPath",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Log9",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ADLSSTAGE_REM",
											"type": "DatasetReference"
										},
										"enableLogging": false,
										"recursive": true
									}
								},
								{
									"name": "Log11",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DeleteFileFromPreProcessedPath",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('File is deleted from PreProcessed Folder For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log12",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DeleteFileFromPreProcessedPath",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('DeleteFileFromPreProcessedPath').Error.Message,0,if(greater(length(activity('DeleteFileFromPreProcessedPath').Error.Message),1990),1990,sub(length(activity('DeleteFileFromPreProcessedPath').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Deleting file from PreProcessed Folder is Failed For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log13",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "LoadStageToOriginal",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Updated Incremental Key Value For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log14",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "LoadStageToOriginal",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('LoadStageToOriginal').Error.Message,0,if(greater(length(activity('LoadStageToOriginal').Error.Message),1990),1990,sub(length(activity('LoadStageToOriginal').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline ",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": {
													"value": "@concat('Load data from Stage table to Original table is Failed For Table : ',item().SourceObjectName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "LoadStageToOriginal",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log6",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOAD_DATA_STAGE_TO_ORIGINAL]",
										"storedProcedureParameters": {
											"INCVALUE": {
												"value": {
													"value": "@item().TimeNow",
													"type": "Expression"
												},
												"type": "String"
											},
											"OBJECTLISTID": {
												"value": {
													"value": "@item().OBJECTSLISTID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"RunId": {
						"type": "string",
						"defaultValue": "-1"
					},
					"LoadType": {
						"type": "string",
						"defaultValue": "Incremental"
					}
				},
				"folder": {
					"name": "Oracle"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLSStage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSStage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(item().SourceObjectName,'.txt')",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@concat(item().ContainerName,'/',pipeline().parameters.LoadType,'/',item().ADLSPreProcessedPath,item().SourceObjectName,'/',item().Today,'/',pipeline().parameters.RunId)",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "/",
					"firstRowAsHeader": true,
					"nullValue": "\\N",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataControlMaster",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HEADER_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_TYPE_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "VERSION_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "EXPIRATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_SOURCE_ID",
						"type": "nvarchar"
					},
					{
						"name": "SOURCE_DOCUMENT_TYPE_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORIG_SYS_DOCUMENT_REF",
						"type": "nvarchar"
					},
					{
						"name": "SOURCE_DOCUMENT_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORDERED_DATE",
						"type": "nvarchar"
					},
					{
						"name": "REQUEST_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PRICING_DATE",
						"type": "nvarchar"
					},
					{
						"name": "SHIPMENT_PRIORITY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "DEMAND_CLASS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "PRICE_LIST_ID",
						"type": "nvarchar"
					},
					{
						"name": "TAX_EXEMPT_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "TAX_EXEMPT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TAX_EXEMPT_REASON_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_RATE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_TYPE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_RATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PARTIAL_SHIPMENTS_ALLOWED",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_TOLERANCE_ABOVE",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_TOLERANCE_BELOW",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTIONAL_CURR_CODE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT_ID",
						"type": "nvarchar"
					},
					{
						"name": "TAX_POINT_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CUST_PO_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "INVOICING_RULE_ID",
						"type": "nvarchar"
					},
					{
						"name": "ACCOUNTING_RULE_ID",
						"type": "nvarchar"
					},
					{
						"name": "PAYMENT_TERM_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FREIGHT_CARRIER_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FOB_POINT_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FREIGHT_TERMS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_FROM_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_TO_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_FROM_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_TO_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "INVOICE_TO_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "DELIVER_TO_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_TO_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_TO_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "INVOICE_TO_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "DELIVER_TO_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CREATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_LOGIN",
						"type": "nvarchar"
					},
					{
						"name": "PROGRAM_APPLICATION_ID",
						"type": "nvarchar"
					},
					{
						"name": "PROGRAM_ID",
						"type": "nvarchar"
					},
					{
						"name": "PROGRAM_UPDATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "REQUEST_ID",
						"type": "nvarchar"
					},
					{
						"name": "CONTEXT",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE1",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE2",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE3",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE4",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE5",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE6",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE7",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE8",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE9",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE10",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE11",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE12",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE13",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE14",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE15",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE_CATEGORY",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE1",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE2",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE3",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE4",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE5",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE6",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE7",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE8",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE9",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE10",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE11",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE12",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE13",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE14",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE15",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE16",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE17",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE18",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE19",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE20",
						"type": "nvarchar"
					},
					{
						"name": "CANCELLED_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "OPEN_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "BOOKED_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "SALESREP_ID",
						"type": "nvarchar"
					},
					{
						"name": "RETURN_REASON_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_DATE_TYPE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "EARLIEST_SCHEDULE_LIMIT",
						"type": "nvarchar"
					},
					{
						"name": "LATEST_SCHEDULE_LIMIT",
						"type": "nvarchar"
					},
					{
						"name": "PAYMENT_TYPE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "PAYMENT_AMOUNT",
						"type": "nvarchar"
					},
					{
						"name": "CHECK_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_HOLDER_NAME",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_EXPIRATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_APPROVAL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SALES_CHANNEL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FIRST_ACK_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FIRST_ACK_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_ACK_CODE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_ACK_DATE",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_CATEGORY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CHANGE_SEQUENCE",
						"type": "nvarchar"
					},
					{
						"name": "DROP_SHIP_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_PAYMENT_TERM_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_INSTRUCTIONS",
						"type": "nvarchar"
					},
					{
						"name": "PACKING_INSTRUCTIONS",
						"type": "nvarchar"
					},
					{
						"name": "TP_CONTEXT",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE1",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE2",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE3",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE4",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE5",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE6",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE7",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE8",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE9",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE10",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE11",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE12",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE13",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE14",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE15",
						"type": "nvarchar"
					},
					{
						"name": "FLOW_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "MARKETING_SOURCE_CODE_ID",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_APPROVAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "UPGRADED_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_PREFERENCE_SET_CODE",
						"type": "nvarchar"
					},
					{
						"name": "BOOKED_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LOCK_CONTROL",
						"type": "nvarchar"
					},
					{
						"name": "PRICE_REQUEST_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE16",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE17",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE18",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE19",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE20",
						"type": "nvarchar"
					},
					{
						"name": "BATCH_ID",
						"type": "nvarchar"
					},
					{
						"name": "XML_MESSAGE_ID",
						"type": "nvarchar"
					},
					{
						"name": "ACCOUNTING_RULE_DURATION",
						"type": "nvarchar"
					},
					{
						"name": "BLANKET_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SALES_DOCUMENT_TYPE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_TO_PHONE_ID",
						"type": "nvarchar"
					},
					{
						"name": "FULFILLMENT_SET_NAME",
						"type": "nvarchar"
					},
					{
						"name": "LINE_SET_NAME",
						"type": "nvarchar"
					},
					{
						"name": "DEFAULT_FULFILLMENT_SET",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_FIRMED_DATE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_PHASE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SALES_DOCUMENT_NAME",
						"type": "nvarchar"
					},
					{
						"name": "QUOTE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "QUOTE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "USER_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "DRAFT_SUBMITTED_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "SOURCE_DOCUMENT_VERSION_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_TO_SITE_USE_ID",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SIGNATURE",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SIGNATURE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_SIGNATURE",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_SIGNATURE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "MINISITE_ID",
						"type": "nvarchar"
					},
					{
						"name": "END_CUSTOMER_ID",
						"type": "nvarchar"
					},
					{
						"name": "END_CUSTOMER_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "END_CUSTOMER_SITE_USE_ID",
						"type": "nvarchar"
					},
					{
						"name": "IB_OWNER",
						"type": "nvarchar"
					},
					{
						"name": "IB_CURRENT_LOCATION",
						"type": "nvarchar"
					},
					{
						"name": "IB_INSTALLED_AT_LOCATION",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OE_ORDER_HEADERS_ALL"
				}
			},
			"dependsOn": []
		}
	]
}