CANDELABIADF/PartialArmTemplates/ArmTemplate_2_20_2020_9_40_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CANDELABIADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GL_Daily_Rates_full_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GL_Daily_Rates_Full_load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT FROM_CURRENCY,TO_CURRENCY,CONVERSION_DATE,CONVERSION_TYPE,CONVERSION_RATE,STATUS_CODE,CREATION_DATE,CREATED_BY,LAST_UPDATE_DATE,LAST_UPDATED_BY,LAST_UPDATE_LOGIN,CONTEXT,RATE_SOURCE_CODE\n FROM dbo.GL_DAILY_RATES",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FROM_CURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "FROM_CURRENCY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TO_CURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TO_CURRENCY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONVERSION_DATE",
											"type": "String"
										},
										"sink": {
											"name": "CONVERSION_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONVERSION_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "CONVERSION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONVERSION_RATE",
											"type": "String"
										},
										"sink": {
											"name": "CONVERSION_RATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS_CODE",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "String"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATED_BY",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_BY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "String"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATED_BY",
											"type": "String"
										},
										"sink": {
											"name": "LAST_UPDATED_BY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_LOGIN",
											"type": "String"
										},
										"sink": {
											"name": "LAST_UPDATE_LOGIN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONTEXT",
											"type": "String"
										},
										"sink": {
											"name": "CONTEXT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RATE_SOURCE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "RATE_SOURCE_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DatControlMaster_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "testsink11",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/testsink11')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SALESFORCE_INCREMENTAL_LOAD_DATAMODEL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetErrorCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select count(1) as ErrorCount from BI.LG_PROCESSLOGS where RunId=','''',string(pipeline().parameters.RunId),'''', ' and Status=','''',string('Error'),'''')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "CheckErrors",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Log1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetErrorCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[BI].[SP_M_Logger]",
							"storedProcedureParameters": {
								"CopyDuration": {
									"value": null,
									"type": "Int64"
								},
								"ErrorInfo": {
									"value": null,
									"type": "String"
								},
								"LOGSPATH": {
									"value": null,
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RecordsCopiedToDest": {
									"value": null,
									"type": "Int64"
								},
								"RecordsInSource": {
									"value": null,
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().parameters.RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SkippedRecordsToMove": {
									"value": null,
									"type": "Int64"
								},
								"Status": {
									"value": "INFO",
									"type": "String"
								},
								"Summary": {
									"value": "ErrorCount For the Data Load is fetched",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetErrorCount",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[BI].[SP_M_Logger]",
							"storedProcedureParameters": {
								"CopyDuration": {
									"value": null,
									"type": "Int64"
								},
								"ErrorInfo": {
									"value": {
										"value": "@substring(activity('GetErrorCount').Error.Message,0,if(greater(length(activity('GetErrorCount').Error.Message),1990),1990,sub(length(activity('GetErrorCount').Error.Message),2)))",
										"type": "Expression"
									},
									"type": "String"
								},
								"LOGSPATH": {
									"value": null,
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RecordsCopiedToDest": {
									"value": null,
									"type": "Int64"
								},
								"RecordsInSource": {
									"value": null,
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().parameters.RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SkippedRecordsToMove": {
									"value": null,
									"type": "Int64"
								},
								"Status": {
									"value": "ERROR",
									"type": "String"
								},
								"Summary": {
									"value": "Failed to Fetch the number of errors in data load",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CheckForErrors",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Log1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GetErrorCount').output.firstRow.ErrorCount,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Load_Dimensions",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[salesforce].[SP_M_INCREMENTAL_LOAD_DIMENSIONS]"
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Incremental_Load_Dimension_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Dimensions",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": "Loading Dimensions is completed successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Incremental_Load_Dimension_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Dimensions",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('Load_Dimensions').Error.Message,0,if(greater(length(activity('Load_Dimensions').Error.Message),1990),1990,sub(length(activity('Load_Dimensions').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": "Failed to Load Dimensions ",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Engagement",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Incremental_Load_Dimension_Success_Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[salesforce].[SP_M_INCREMENTAL_LOAD_FACT_ENGAGEMENT]"
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Fact_Engagement_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Engagement",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": "Loading Fact tables are completed successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Fact_Engagement_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Engagement",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('Load_Fact_Engagement').Error.Message,0,if(greater(length(activity('Load_Fact_Engagement').Error.Message),1990),1990,sub(length(activity('Load_Fact_Engagement').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": "Failed to Load Fact Tables",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "UPDATEDATALOADTIME",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Fact_Engagement_Success_Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('UPDATE BI.MM_PROCESSTIMETRACKER SET DATALOADREFRESHTIME= ''',pipeline().parameters.DATALOADPROCESSTIME,''' where ID =1     SELECT 1')",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "DQTarget",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Load_Facts_Bizible_Attribution",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Incremental_Load_Dimension_Success_Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[salesforce].SP_M_INCREMENTAL_LOAD_Fact_Bizible_Attribution"
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Bizible_attribution_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Facts_Bizible_Attribution",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": "Loading Bizible_Attribution_Fact tables are completed successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Bizible_Attribution_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Facts_Bizible_Attribution",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('Load_Facts_Bizible_Attribution').Error.Message,0,if(greater(length(activity('Load_Facts_Bizible_Attribution').Error.Message),1990),1990,sub(length(activity('Load_Facts_Bizible_Attribution').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": "Failed to Load Fact Tables",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Opportunity_History",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Incremental_Load_Dimension_Success_Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[salesforce].SP_M_INCREMENTAL_LOAD_FACT_OPPORTUNITY_HISTORY"
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Opportunity_History_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Opportunity_History",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": "Loading Bizible_Attribution_Fact tables are completed successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Opportunity_History_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Opportunity_History",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('Load_Fact_Opportunity_History').Error.Message,0,if(greater(length(activity('Load_Fact_Opportunity_History').Error.Message),1990),1990,sub(length(activity('Load_Fact_Opportunity_History').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": "Failed to Load Fact Tables",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"RunId": {
						"type": "string",
						"defaultValue": "-1"
					},
					"DATALOADPROCESSTIME": {
						"type": "string",
						"defaultValue": "NULL"
					}
				},
				"folder": {
					"name": "SalesForce"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SALESFORCE_LOAD_DATAMODEL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetErrorCount",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select count(1) as ErrorCount from BI.LG_PROCESSLOGS where RunId=','''',string(pipeline().parameters.RunId),'''', ' and Status=','''',string('Error'),'''')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "CheckErrors",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Log1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetErrorCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[BI].[SP_M_Logger]",
							"storedProcedureParameters": {
								"CopyDuration": {
									"value": null,
									"type": "Int64"
								},
								"ErrorInfo": {
									"value": null,
									"type": "String"
								},
								"LOGSPATH": {
									"value": null,
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RecordsCopiedToDest": {
									"value": null,
									"type": "Int64"
								},
								"RecordsInSource": {
									"value": null,
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().parameters.RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SkippedRecordsToMove": {
									"value": null,
									"type": "Int64"
								},
								"Status": {
									"value": "INFO",
									"type": "String"
								},
								"Summary": {
									"value": "ErrorCount For the Data Load is fetched",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetErrorCount",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[BI].[SP_M_Logger]",
							"storedProcedureParameters": {
								"CopyDuration": {
									"value": null,
									"type": "Int64"
								},
								"ErrorInfo": {
									"value": {
										"value": "@substring(activity('GetErrorCount').Error.Message,0,if(greater(length(activity('GetErrorCount').Error.Message),1990),1990,sub(length(activity('GetErrorCount').Error.Message),2)))",
										"type": "Expression"
									},
									"type": "String"
								},
								"LOGSPATH": {
									"value": null,
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RecordsCopiedToDest": {
									"value": null,
									"type": "Int64"
								},
								"RecordsInSource": {
									"value": null,
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().parameters.RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SkippedRecordsToMove": {
									"value": null,
									"type": "Int64"
								},
								"Status": {
									"value": "ERROR",
									"type": "String"
								},
								"Summary": {
									"value": "Failed to Fetch the number of errors in data load",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CheckForErrors",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Log1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GetErrorCount').output.firstRow.ErrorCount,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Load_Dimensions",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[test]"
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Full_Load_Dimensions_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Dimensions",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": "Loading Dimensions is completed successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Full_Load_Dimensions_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Dimensions",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('Load_Dimensions').Error.Message,0,if(greater(length(activity('Load_Dimensions').Error.Message),1990),1990,sub(length(activity('Load_Dimensions').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": "Failed to Load Dimensions ",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Engagement",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Full_Load_Dimensions_Success_Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[test]"
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Engagement_Success_Failure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Engagement",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": "Loading Fact tables are completed successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Engagement_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Engagement",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('Load_Fact_Engagement').Error.Message,0,if(greater(length(activity('Load_Fact_Engagement').Error.Message),1990),1990,sub(length(activity('Load_Fact_Engagement').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": "Failed to Load Fact Tables",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Bizible_Attribution",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Full_Load_Dimensions_Success_Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[test]"
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Fact_Bizible_Attribution_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Bizible_Attribution",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": "Loading Fact tables are completed successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Fact_Bizible_Attribution_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Bizible_Attribution",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('Load_Fact_Bizible_Attribution').Error.Message,0,if(greater(length(activity('Load_Fact_Bizible_Attribution').Error.Message),1990),1990,sub(length(activity('Load_Fact_Bizible_Attribution').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": "Failed to Load Fact Tables",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Opportunity_History",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Full_Load_Dimensions_Success_Log",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[test]"
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Opportunity_History_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Opportunity_History",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": null,
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "INFO",
												"type": "String"
											},
											"Summary": {
												"value": "Loading Fact tables are completed successfully",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Load_Fact_Opportunity_History_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Fact_Opportunity_History",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[BI].[SP_M_Logger]",
										"storedProcedureParameters": {
											"CopyDuration": {
												"value": null,
												"type": "Int64"
											},
											"ErrorInfo": {
												"value": {
													"value": "@substring(activity('Load_Fact_Opportunity_History').Error.Message,0,if(greater(length(activity('Load_Fact_Opportunity_History').Error.Message),1990),1990,sub(length(activity('Load_Fact_Opportunity_History').Error.Message),2)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"LOGSPATH": {
												"value": null,
												"type": "String"
											},
											"ProcessName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"RecordsCopiedToDest": {
												"value": null,
												"type": "Int64"
											},
											"RecordsInSource": {
												"value": null,
												"type": "Int64"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().parameters.RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"SkippedRecordsToMove": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "ERROR",
												"type": "String"
											},
											"Summary": {
												"value": "Failed to Load Fact Tables",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"RunId": {
						"type": "string",
						"defaultValue": "-1"
					}
				},
				"folder": {
					"name": "SalesForce"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceQueryTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "Select Count() From ACCOUNT  ",
								"readBehavior": "queryAll"
							},
							"dataset": {
								"referenceName": "Salesforce_Source",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Lookup2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('Select ',substring(string(activity('Lookup1').output.firstRow),add(indexof(string(activity('Lookup1').output.firstRow),':'),1),sub(sub(length(string(activity('Lookup1').output.firstRow)),indexof(string(activity('Lookup1').output.firstRow),':')),2)),' as Counts')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DQTarget",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select * from account",
								"readBehavior": "queryAll"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Salesforce_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "testkpidev",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"value": {
						"type": "String",
						"defaultValue": "-1"
					},
					"value1": {
						"type": "String",
						"defaultValue": "-1"
					},
					"value2": {
						"type": "String",
						"defaultValue": "-1"
					},
					"value3": {
						"type": "String",
						"defaultValue": "-1"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/testkpidev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UserRole')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UserRole",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select CaseAccessForAccountOwner,ContactAccessForAccountOwner,DeveloperName,ForecastUserId,Id,LastModifiedById,LastModifiedDate,MayForecastManagerShare,Name,OpportunityAccessForAccountOwner,ParentRoleId,PortalAccountId,PortalAccountOwnerId,PortalRole,PortalType,RollupDescription,SystemModstamp from UserRole",
								"readBehavior": "query"
							},
							"dataset": {
								"referenceName": "Salesforce_Source",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UserRoleFullLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UserRole",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select CaseAccessForAccountOwner,ContactAccessForAccountOwner,DeveloperName,ForecastUserId,Id,LastModifiedById,LastModifiedDate,MayForecastManagerShare,Name,OpportunityAccessForAccountOwner,ParentRoleId,PortalAccountId,PortalAccountOwnerId,PortalRole,PortalType,RollupDescription,SystemModstamp from UserRole",
								"readBehavior": "query"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CaseAccessForAccountOwner",
											"type": "String"
										},
										"sink": {
											"name": "CaseAccessForAccountOwner",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactAccessForAccountOwner",
											"type": "String"
										},
										"sink": {
											"name": "ContactAccessForAccountOwner",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DeveloperName",
											"type": "String"
										},
										"sink": {
											"name": "DeveloperName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ForecastUserId",
											"type": "String"
										},
										"sink": {
											"name": "ForecastUserId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedById",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedById",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastModifiedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "MayForecastManagerShare",
											"type": "Boolean"
										},
										"sink": {
											"name": "MayForecastManagerShare",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OpportunityAccessForAccountOwner",
											"type": "String"
										},
										"sink": {
											"name": "OpportunityAccessForAccountOwner",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ParentRoleId",
											"type": "String"
										},
										"sink": {
											"name": "ParentRoleId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PortalAccountId",
											"type": "String"
										},
										"sink": {
											"name": "PortalAccountId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PortalAccountOwnerId",
											"type": "String"
										},
										"sink": {
											"name": "PortalAccountOwnerId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PortalRole",
											"type": "String"
										},
										"sink": {
											"name": "PortalRole",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PortalType",
											"type": "String"
										},
										"sink": {
											"name": "PortalType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RollupDescription",
											"type": "String"
										},
										"sink": {
											"name": "RollupDescription",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SystemModstamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "SystemModstamp",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Salesforce_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSQLCandelaKPI",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSQLCandelaKPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLCandelaKPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ParentRoleId",
						"type": "nvarchar"
					},
					{
						"name": "RollupDescription",
						"type": "nvarchar"
					},
					{
						"name": "OpportunityAccessForAccountOwner",
						"type": "nvarchar"
					},
					{
						"name": "CaseAccessForAccountOwner",
						"type": "nvarchar"
					},
					{
						"name": "ContactAccessForAccountOwner",
						"type": "nvarchar"
					},
					{
						"name": "ForecastUserId",
						"type": "nvarchar"
					},
					{
						"name": "MayForecastManagerShare",
						"type": "nvarchar"
					},
					{
						"name": "LastModifiedDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "LastModifiedById",
						"type": "nvarchar"
					},
					{
						"name": "SystemModstamp",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DeveloperName",
						"type": "nvarchar"
					},
					{
						"name": "PortalAccountId",
						"type": "nvarchar"
					},
					{
						"name": "PortalType",
						"type": "nvarchar"
					},
					{
						"name": "PortalRole",
						"type": "nvarchar"
					},
					{
						"name": "PortalAccountOwnerId",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "salesforce",
					"table": "UserRole"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testkpidev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "NAMe",
						"type": "nvarchar"
					},
					{
						"name": "ProductCode",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "SALESFORCE_STAGE",
					"table": "UserRole"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testsink11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FROM_CURRENCY",
						"type": "nvarchar"
					},
					{
						"name": "TO_CURRENCY",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_RATE",
						"type": "nvarchar"
					},
					{
						"name": "STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CREATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_LOGIN",
						"type": "nvarchar"
					},
					{
						"name": "CONTEXT",
						"type": "nvarchar"
					},
					{
						"name": "RATE_SOURCE_CODE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ORACLE",
					"table": "GL_DAILY_RATES"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testsource111')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataControlMaster",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FROM_CURRENCY",
						"type": "nvarchar"
					},
					{
						"name": "TO_CURRENCY",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_RATE",
						"type": "nvarchar"
					},
					{
						"name": "STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CREATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_LOGIN",
						"type": "nvarchar"
					},
					{
						"name": "CONTEXT",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE1",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE2",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE3",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE4",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE5",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE6",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE7",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE8",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE9",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE10",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE11",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE12",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE13",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE14",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE15",
						"type": "nvarchar"
					},
					{
						"name": "RATE_SOURCE_CODE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "GL_DAILY_RATES"
				}
			},
			"dependsOn": []
		}
	]
}