CANDELABIADF/PartialArmTemplates/ArmTemplate_11_21_2019_20_28_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CANDELABIADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CANDELAKPI_INCREMENTAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Combination of Oracle and Salesforce data load",
				"activities": [
					{
						"name": "Oracle_Full_Load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DATALOADTIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_FULL_ORACLE_AZSQLDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"RunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"LoadType": "Full"
							}
						}
					},
					{
						"name": "Oracle_Incremental_Load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DATALOADTIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INCREMENTAL_ORACLE_AZSQLDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"RunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"LoadType": "Incremental"
							}
						}
					},
					{
						"name": "Salesforce_Full_Load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DATALOADTIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SALESFORCE_AZSQLDB_FULL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"RunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"LoadType": "Full"
							}
						}
					},
					{
						"name": "Salesforce_Incremental_Load",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DATALOADTIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INCREMENTAL_SALESFORCE_AZSSQLDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"RunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"LoadType": "Incremental"
							}
						}
					},
					{
						"name": "SalesForce_DataModel",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Salesforce_Incremental_Load",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Salesforce_Full_Load",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SALESFORCE_INCREMENTAL_LOAD_DATAMODEL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"RunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"DATALOADPROCESSTIME": {
									"value": "@variables('DATALOADPROCESSTIME')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Oracle_DataModel",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Oracle_Incremental_Load",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Oracle_Full_Load",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_ORACLE_INCREMENTAL_LOAD_DATAMODEL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"RunId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"DATALOADPROCESSTIME": {
									"value": "@variables('DATALOADPROCESSTIME')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "ProcessAAS",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "SalesForce_DataModel",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Oracle_DataModel",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": {
								"value": "@concat('PROCESSAAS?modelname=','CANDELAKPI&ProcessName=',pipeline().Pipeline,'&RunId=',pipeline().RunId)",
								"type": "Expression"
							},
							"method": "GET"
						},
						"linkedServiceName": {
							"referenceName": "ProcessAAS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log31",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ProcessAAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[BI].[SP_M_Logger]",
							"storedProcedureParameters": {
								"CopyDuration": {
									"value": null,
									"type": "Int64"
								},
								"ErrorInfo": {
									"value": null,
									"type": "String"
								},
								"LOGSPATH": {
									"value": null,
									"type": "String"
								},
								"ProcessName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RecordsCopiedToDest": {
									"value": null,
									"type": "Int64"
								},
								"RecordsInSource": {
									"value": null,
									"type": "Int64"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SkippedRecordsToMove": {
									"value": null,
									"type": "Int64"
								},
								"Status": {
									"value": "INFO",
									"type": "String"
								},
								"Summary": {
									"value": "Processing AAS Model is completed successfully",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EmailNotification",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "ProcessAAS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": {
								"value": "@concat('SendEmail?RunId=',pipeline().RunId,'&ProcessName=',pipeline().Pipeline)",
								"type": "Expression"
							},
							"method": "GET"
						},
						"linkedServiceName": {
							"referenceName": "EmailService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DATALOADTIME",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DATALOADPROCESSTIME",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UPDATEDAASPROCESSTIME",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ProcessAAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('UPDATE BI.MM_PROCESSTIMETRACKER SET AASPROCESSREFRESHTIME= ''',variables('DATALOADPROCESSTIME'),''' where ID =1     SELECT 1')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DQTarget",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "DQ",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ProcessAAS",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitOnCompletion": true
						}
					}
				],
				"variables": {
					"DATALOADPROCESSTIME": {
						"type": "String",
						"defaultValue": "NULL"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceQueryTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "Select Count() From ACCOUNT  ",
								"readBehavior": "queryAll"
							},
							"dataset": {
								"referenceName": "Salesforce_Source",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Lookup2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('Select ',substring(string(activity('Lookup1').output.firstRow),add(indexof(string(activity('Lookup1').output.firstRow),':'),1),sub(sub(length(string(activity('Lookup1').output.firstRow)),indexof(string(activity('Lookup1').output.firstRow),':')),2)),' as Counts')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DQTarget",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "select * from account",
								"readBehavior": "queryAll"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Salesforce_Source",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"value": {
						"type": "String",
						"defaultValue": "-1"
					},
					"value1": {
						"type": "String",
						"defaultValue": "-1"
					},
					"value2": {
						"type": "String",
						"defaultValue": "-1"
					},
					"value3": {
						"type": "String",
						"defaultValue": "-1"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "HEADER_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_TYPE_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "VERSION_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "EXPIRATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_SOURCE_ID",
						"type": "nvarchar"
					},
					{
						"name": "SOURCE_DOCUMENT_TYPE_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORIG_SYS_DOCUMENT_REF",
						"type": "nvarchar"
					},
					{
						"name": "SOURCE_DOCUMENT_ID",
						"type": "nvarchar"
					},
					{
						"name": "ORDERED_DATE",
						"type": "nvarchar"
					},
					{
						"name": "REQUEST_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PRICING_DATE",
						"type": "nvarchar"
					},
					{
						"name": "SHIPMENT_PRIORITY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "DEMAND_CLASS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "PRICE_LIST_ID",
						"type": "nvarchar"
					},
					{
						"name": "TAX_EXEMPT_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "TAX_EXEMPT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TAX_EXEMPT_REASON_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_RATE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_TYPE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CONVERSION_RATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PARTIAL_SHIPMENTS_ALLOWED",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_TOLERANCE_ABOVE",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_TOLERANCE_BELOW",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTIONAL_CURR_CODE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT_ID",
						"type": "nvarchar"
					},
					{
						"name": "TAX_POINT_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CUST_PO_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "INVOICING_RULE_ID",
						"type": "nvarchar"
					},
					{
						"name": "ACCOUNTING_RULE_ID",
						"type": "nvarchar"
					},
					{
						"name": "PAYMENT_TERM_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FREIGHT_CARRIER_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FOB_POINT_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FREIGHT_TERMS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_FROM_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_TO_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_FROM_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_TO_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "INVOICE_TO_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "DELIVER_TO_ORG_ID",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_TO_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_TO_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "INVOICE_TO_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "DELIVER_TO_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CREATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_LOGIN",
						"type": "nvarchar"
					},
					{
						"name": "PROGRAM_APPLICATION_ID",
						"type": "nvarchar"
					},
					{
						"name": "PROGRAM_ID",
						"type": "nvarchar"
					},
					{
						"name": "PROGRAM_UPDATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "REQUEST_ID",
						"type": "nvarchar"
					},
					{
						"name": "CONTEXT",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE1",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE2",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE3",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE4",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE5",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE6",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE7",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE8",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE9",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE10",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE11",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE12",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE13",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE14",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE15",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE_CATEGORY",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE1",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE2",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE3",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE4",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE5",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE6",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE7",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE8",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE9",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE10",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE11",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE12",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE13",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE14",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE15",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE16",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE17",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE18",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE19",
						"type": "nvarchar"
					},
					{
						"name": "GLOBAL_ATTRIBUTE20",
						"type": "nvarchar"
					},
					{
						"name": "CANCELLED_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "OPEN_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "BOOKED_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "SALESREP_ID",
						"type": "nvarchar"
					},
					{
						"name": "RETURN_REASON_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_DATE_TYPE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "EARLIEST_SCHEDULE_LIMIT",
						"type": "nvarchar"
					},
					{
						"name": "LATEST_SCHEDULE_LIMIT",
						"type": "nvarchar"
					},
					{
						"name": "PAYMENT_TYPE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "PAYMENT_AMOUNT",
						"type": "nvarchar"
					},
					{
						"name": "CHECK_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_HOLDER_NAME",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_EXPIRATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_APPROVAL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SALES_CHANNEL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FIRST_ACK_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FIRST_ACK_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_ACK_CODE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_ACK_DATE",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_CATEGORY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "CHANGE_SEQUENCE",
						"type": "nvarchar"
					},
					{
						"name": "DROP_SHIP_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_PAYMENT_TERM_ID",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_INSTRUCTIONS",
						"type": "nvarchar"
					},
					{
						"name": "PACKING_INSTRUCTIONS",
						"type": "nvarchar"
					},
					{
						"name": "TP_CONTEXT",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE1",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE2",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE3",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE4",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE5",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE6",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE7",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE8",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE9",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE10",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE11",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE12",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE13",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE14",
						"type": "nvarchar"
					},
					{
						"name": "TP_ATTRIBUTE15",
						"type": "nvarchar"
					},
					{
						"name": "FLOW_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "MARKETING_SOURCE_CODE_ID",
						"type": "nvarchar"
					},
					{
						"name": "CREDIT_CARD_APPROVAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "UPGRADED_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_PREFERENCE_SET_CODE",
						"type": "nvarchar"
					},
					{
						"name": "BOOKED_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LOCK_CONTROL",
						"type": "nvarchar"
					},
					{
						"name": "PRICE_REQUEST_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE16",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE17",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE18",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE19",
						"type": "nvarchar"
					},
					{
						"name": "ATTRIBUTE20",
						"type": "nvarchar"
					},
					{
						"name": "BATCH_ID",
						"type": "nvarchar"
					},
					{
						"name": "XML_MESSAGE_ID",
						"type": "nvarchar"
					},
					{
						"name": "ACCOUNTING_RULE_DURATION",
						"type": "nvarchar"
					},
					{
						"name": "BLANKET_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SALES_DOCUMENT_TYPE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_TO_PHONE_ID",
						"type": "nvarchar"
					},
					{
						"name": "FULFILLMENT_SET_NAME",
						"type": "nvarchar"
					},
					{
						"name": "LINE_SET_NAME",
						"type": "nvarchar"
					},
					{
						"name": "DEFAULT_FULFILLMENT_SET",
						"type": "nvarchar"
					},
					{
						"name": "ORDER_FIRMED_DATE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_PHASE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SALES_DOCUMENT_NAME",
						"type": "nvarchar"
					},
					{
						"name": "QUOTE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "QUOTE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "USER_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "DRAFT_SUBMITTED_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "SOURCE_DOCUMENT_VERSION_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SOLD_TO_SITE_USE_ID",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SIGNATURE",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SIGNATURE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_SIGNATURE",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_SIGNATURE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "MINISITE_ID",
						"type": "nvarchar"
					},
					{
						"name": "END_CUSTOMER_ID",
						"type": "nvarchar"
					},
					{
						"name": "END_CUSTOMER_CONTACT_ID",
						"type": "nvarchar"
					},
					{
						"name": "END_CUSTOMER_SITE_USE_ID",
						"type": "nvarchar"
					},
					{
						"name": "IB_OWNER",
						"type": "nvarchar"
					},
					{
						"name": "IB_CURRENT_LOCATION",
						"type": "nvarchar"
					},
					{
						"name": "IB_INSTALLED_AT_LOCATION",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "TEST1",
					"table": "ACCOUNT"
				}
			},
			"dependsOn": []
		}
	]
}